@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');
* {
    font-family: 'Poppins';
}

/* Header styles starts */
.header-logo {
    height: 45px;
    width: 45px;
}
.brand-name {
    color: #2b4eff;
}
.logo-heading {
    white-space: normal;
}
.carousel-caption {
    top: 60%;
    transform: translateY(-60%);
    bottom: initial;
}
@media (max-width: 1000px) {
    .carousel-caption {
        top: 20%;
        transform: translateY(-20%);
        bottom: initial;
    }
}
/* Header styles Ends */

/* Body Styles Starts */
.toast-container {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 100;
}

#toast {
    border-left: 5px solid #3F87F5;
}
.package {
    position: relative;
}
.package:hover::before {
    content: "Hot";
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #FF4E4E;
    position: absolute;
    margin-top: -10px;
    margin-right: 15px;
    top: 0;
    right: 0;
 }

.package:hover {
    color: white;
    cursor: pointer;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.package:hover > ul {
    list-style-image: url("icons/checkmarkwhite.png");
}
.package:hover > button {
    border: none;
    color: #2b4eff;
    background: white;
}
.package > ul {
    list-style-image: url("icons/checkmark.png");
}
/* Body Styles Ends */

/* Footer Style Starts */
footer {
    background-color: #0B0D17;
}
@media only screen and (max-width: 576px) {
    footer {
        text-align: center;
    }
}
/* Footer Style Ends */